@font-face {
  font-family: "Cuprum";

  src: url("../fonts/Cuprum-Regular.woff2") format("woff2"),
    url("../fonts/Cuprum-Regular.woff") format("woff"); 
     
	font-weight: normal;
	font-display: swap; 
}

@font-face {
  font-family: "Cuprum";

  src: url("../fonts/Cuprum-Italic.woff2") format("woff2"),
    url("../fonts/Cuprum-Italic.woff") format("woff");
	
	font-weight: normal;
	font-style: italic; 
  font-display: swap;	
}

@font-face {
  font-family: "Cuprum";

  src: url("../fonts/Cuprum-Bold.woff2") format("woff2"),
    url("../fonts/Cuprum-Bold.woff") format("woff"); 
	
	font-weight: bold;
  font-display: swap;	
}

@font-face {
  font-family: "PTSans";

  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), 
    url("../fonts/PTSans-Bold.woff") format("woff");
	
	font-weight: bold;
	font-display: swap;
}

@font-face {
  font-family: "PTSans";

  src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
     
	font-weight: normal;
	font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container p {
  margin: 0;
}

.container ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;

  padding-bottom: 10px;
  padding-top: 10px;
}

.head {
  background-color: #f1f5f7;	
  padding-bottom: 40px;
}

.top-background {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
}

.logo:hover,
.logo:active {
  background-color: #ca2c37;
}

.top-background .search:hover,
.top-background .bookmark:hover,
.top-background .cart:hover {
  background-color: #212a3a;
}

.top-background .order-button {
  font-family: "Cuprum";
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
  border: none;
}

.top-background .order-button:hover {
  background-color: #5fbb2d;
}

.top-background .bookmark:focus,
.top-background .cart:focus {
  background-color: #161d29;
}

.top-background .order-button:focus {
  background-color: #518534;
}

.search input {
  background-color: #293449;
  border: none;
}

.search input:focus {
  background-color: #ffffff;
}

.store-discreption {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}

.phone-number {
  border: solid 3px #ffffff;
}

.phone-number {
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.42px;
  color: #e9292a;
}

.adds {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #32425c;
}

.log-in,
.register {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
  border: none;
}

.log-in:hover,
.register:hover {
  color: #ee3643;
}

.log-in:active,
.register:active {
  color: #C6C6C6;
}

.menu-back {
  font-size: 17px;
  line-height: 17px;
  text-align: left;
  color: #ffffff;
  
  background-color: #32425c;
}

.menu-section {
  list-style: none;
}

.menu-section a {
  color: #ffffff;
}

.menu-section a:hover,
.menu-section a:active {
  color: #1d2739;
}

.lists {
  list-style: none;
}

.list {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;

  color: #ffffff;
}

.lists .feauteres {
  background-color: #000000;
}

.yellow {
  background-color: #ffbf47;
}

.blue {
  background-color: #3bbce3;
}

.pink {
  background-color: #dc91d8;
}

.green {
  background-color: #8ed78f;
}

.yellow-back {
  background-color: #ffc047;
}

.popular {
  background-color: #f9f5f0;
}

.headline {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;

  padding-left: 20px;
}

.popular .button {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: 25px;
}

.items {
  list-style: none;
}

.item-background {
  width: 216px;
  font-family: "PTSans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;

  background-color: #ffffff;
  border: solid 1px #eaeaea;
}

.items h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.item-name,
.item-name-new {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #9a9a9a;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-image: url("../img/price.svg");
  background-size: 141px 38px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.brands {
  list-style: none;
}

.brand-background {
  width: 216px;
  height: 145px;
  border: solid 1px #eaeaea;
}

.brand-background:hover {
  background-color: #ffffff;
  box-shadow: 0px 10px 25px 0 #b4c2dd;
}

.brand-background:active {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0 #b4c2dd;
  opacity: 0.3;
}

.service-back {
  background-color: #f4f7f9;
}

.caption {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.good-store {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.item-service {
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;

  list-style: none;
}

.active-service {
  color: #32425c;

  background-color: #ffffff;
}

.service {
  color: #ffffff;

  background-color: #32425c;
}

.options {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #000000;
}

.indicator {
  background-color: #ee3341;
}

.footer-nav-back {
  background-color: #32425c;
}

.footer-logo {
  width: 220px;
  height: 68px;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.footer-nav,
.footer-offers {
  list-style: none;
}

.footer-nav,
.footer-offers {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.footer-nav a {
  color: #f1f5f7;
}

.footer-offers a {
  color: #ffd180;
}

.footer-nav a:hover,
.footer-offers a:hover {
  text-decoration: underline;
}

.footer-contacts {
  background-color: #293449;
}

.copy,
.mailhtmlacademyru,
.htmlacademyru {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.text-style {
  color: ffd180;
}

.mailhtmlacademyru span,
.htmlacademyru span a {
  color: #ffd180;
}

.vk-icon,
.fb-icon,
.insta-icon {
  background-color: #212a3a;
}

.vk-icon:hover,
.vk-icon:active,
.fb-icon:hover,
.fb-icon:active,
.insta-icon:hover,
.insta-icon:active {
  background-color: #ee3643;
}

.modal {
  font-size: 18px;
  line-height: 18px;
  text-align: left;

  background-color: #ffffff;
  border-top: solid 7px #ee3341;
}

.modal-back {
  background-color: #f1f1f1;
}

.modal h2 {
  font:inherit;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.login-form input[type="text"],
.message-form input[type="text"],
.message-form input[type="email"] {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  
  background-color: ffffff;
}

.login-form input[type="text"] {
  color: #999999;

  border: solid 2px #b5b5b5;
}

.login-form input[type="text"]:focus {

  border: solid 2px #ee3643;
}

.message-form input[type="text"],
.message-form input[type="email"] {
  color: #a9a9a9;

  border: solid 2px #dee3e4;
}

.login-form label,
.message-form label {
  font: inherit;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.white-button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.user-back p {
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.my-orders a,
.account a {
  text-decoration: underline;
  color: #32425c;
}

.my-orders a:hover,
.account a:hover {
  text-decoration: underline;
  color: #ee3643;
}

.user-back p:active,
.my-orders a:active,
.account a:active {
  text-decoration: underline;
  color: #cbcbcb;
}

.buy-button,
.bookmark-button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.buy-button {
  color: #ffffff;

  background-color: #63a63e;
}

.buy-button:hover {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.bookmark-button {
  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.bookmark-button:hover {
  border: solid 3px #32425c;
}

.bookmark-button:active {
  border: solid 3px #32425c;
  opacity: 0.3;
}

.price-filter,
.sort-back {
  background-color: #f7f3ec;
}

.price-filter h3,
.filter legend {
 font-family: "PTSans", Arial, sans-serif;
 font-size: 17px;
 line-height: 30px;
 font-weight: bold;
 color: #000000;
}

.filter label {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.view {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.sorting,
.icon-dir {
  list-style: none;
}

.container {
  width: 940px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.top-background .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 175px;
  height: 35px;
  box-shadow: 0px 5px 0 0 #B6242F;

  background-image: url("../img/logo.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 109px 19px;
}

.bookmark,
.cart {
  padding-right: 20px;
  padding-left: 30px;
}

.bookmark {
  background-image: url("../img/icon-bookmark.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
}

.search {
  background-image: url("../img/icon-search.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;

  padding-left: 30px;
}

.cart {
  background-image: url("../img/cart-icon.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
}

.store-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.log-in {
  background-image: url("../img/icon-login.png");
  background-position: 5% 50%;
  background-repeat: no-repeat;

  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
}

.register {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
  margin-left: 10px;
}

.login-back-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 40px;
}

.order-button {
  height: 35px;
}

.menu-back {
  box-shadow: 0px 5px 0 0 #293449;

  margin-top: 20px;
  margin-bottom: 20px;
}

.container .menu-section {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.container .store-discreption {
  width: 196px;
  margin-left: 50px;
  margin-top: 50px;
}

.phone-number {
  text-align: center;

  background-image: url("../img/icon-phone.png");
  background-position: 5% 50%;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.phone-back-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.container .lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  flex-wrap: wrap;

  padding-top: 60px;
}

.container .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-image p {
  margin: 0;
}

.yellow-wrapper .yellow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blue-wrapper .blue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blue img {
  padding-top: 30px;
  padding-right: 20px;
}

.container .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
}

.container .brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 20px;
  padding-bottom: 40px;
}

.container .popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-background {
  background-position: 50% 50%;
  background-repeat: no-repeat;

  margin-bottom: 20px;
}

.bosch {
  background-image: url("../img/bosch.png");
}

.makita {
  background-image: url("../img/makita.png");
}

.de-walt {
  background-image: url("../img/de-walt.png");
}

.interskol {
  background-image: url("../img/interskol.png");
}

.hitachi {
  background-image: url("../img/hitachi.png");
}

.lg {
  background-image: url("../img/lg.png");
}

.aeg {
  background-image: url("../img/aeg.png");
}

.metabo {
  background-image: url("../img/metabo.png");
}

.item-background .new {
  position: absolute;
}

.new-flag {
  position: relative;
  right: -76px;
  top: -1px;
}

.items .item-name-new {
  margin-top: 112px;
}

.old-price,
.price {
  padding-top: 10px;
  padding-bottom: 10px;
}

.price {
  margin-bottom: 20px;
}

.items li:nth-child(3) .price {
  margin-top: 40px;
}

.container .about-company {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.about-company .delivery-var p {
  padding-right: 150px;
}

.delivery-var {
  padding-bottom: 25px;
}

.delivery-var .good-store {
  padding-top: 20px;
  padding-bottom: 10px;
}

.delivery-var p:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-company .button {
  width: 220px;
}

.contacts .good-store {
  padding-right: 80px;
  padding-bottom: 30px;
}

.contacts a {
  padding-bottom: 30px;
}

.container .contacts {
  display: flex;
  flex-direction: column;
}

.company .container {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-nav-wrapper .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-offers-wrapper .footer-offers {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.footer-logo {
  width: 220px;
  height: 68px;

  background-image: url("../img/logo-footer.png");
  background-position: center;
  background-repeat: no-repeat;
}

.container .footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-nav-back .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 30px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-nav li:not(:first-child):not(:last-child),
.footer-offers li:not(:first-child):not(:last-child) {
  padding-right: 30px;
  padding-left: 30px;
}

.footer-nav li:first-child,
.footer-offers li:first-child {
  padding-right: 30px;
}

.footer-nav li:last-child,
.footer-offers li:last-child {
  padding-left: 30px;
}

.footer-contacts .—Åontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copy,
.htmlacademyru,
.mailhtmlacademyru,
.footer-address {
  white-space: pre-line;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 20px;
}