@font-face {
  font-family: "Cuprum";

  src: url("../fonts/Cuprum-Regular.woff2") format("woff2"),
    url("../fonts/Cuprum-Regular.woff") format("woff"); 
     
	font-weight: normal;
	font-display: swap; 
}

@font-face {
  font-family: "Cuprum";

  src: url("../fonts/Cuprum-Italic.woff2") format("woff2"),
    url("../fonts/Cuprum-Italic.woff") format("woff");
	
	font-weight: normal;
	font-style: italic; 
  font-display: swap;	
}

@font-face {
  font-family: "Cuprum";

  src: url("../fonts/Cuprum-Bold.woff2") format("woff2"),
    url("../fonts/Cuprum-Bold.woff") format("woff"); 
	
	font-weight: bold;
  font-display: swap;	
}

@font-face {
  font-family: "PTSans";

  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), 
    url("../fonts/PTSans-Bold.woff") format("woff");
	
	font-weight: bold;
	font-display: swap;
}

@font-face {
  font-family: "PTSans";

  src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
     
	font-weight: normal;
	font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
}

html {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container p {
  margin: 0;
}

.container ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;

  padding-bottom: 10px;
  padding-top: 15px;

  cursor: pointer;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.head {
  background-color: #f1f5f7;	
  padding-bottom: 40px;
}

.top-background {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
}

.logo:hover,
.logo:active {
  background-color: #ca2c37;
}

.top-background .search:hover,
.top-background .bookmark:hover,
.top-background .cart:hover {
  background-color: #212a3a;
}

.top-background .order-button {
  width: 130px;

  font-family: "Cuprum";
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
  border: none;
}

.top-background .order-button:hover {
  background-color: #5fbb2d;
}

.top-background .bookmark:focus,
.top-background .cart:focus {
  background-color: #161d29;
}

.top-background .order-button:focus {
  background-color: #518534;
}

.search {
  width: 250px;
  height: 40px;

  background-color: #293449;
  border: none;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  cursor: pointer;
}

.input[type="search"]::placeholder {
  color: #ffffff;
}

 .container .search:focus {
  background-color: #ffffff;
  border: none;
}

.store-discreption {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}

.phone-number {
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #e9292a;
  border: solid 3px #ffffff;
}

.adds {
  padding-top: 5px;

  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #32425c;
}

.log-in,
.register {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
  border: none;
}

.log-in:hover,
.register:hover {
  color: #ee3643;
  cursor: pointer;
}

.log-in img {
  position: absolute;
  left: 10px;
  top: 11px;

  opacity: 0.3;
}

.log-in img:hover {
  opacity: 100%;
}

.log-in:active,
.register:active {
  color: #C6C6C6;
}

.menu-back {
  font-size: 17px;
  line-height: 17px;
  text-align: left;
  color: #ffffff;
  
  background-color: #32425c;
}

.menu-section {
  list-style: none;
}

.menu-section li a {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.menu-section li:first-child a{
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.menu-section li:last-child a {
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 30px;
}

.menu-section li:hover {
  background-color: #293449;
}


.menu-section li:active {
  background-color: #1d2739;
}

.menu-section a {
  display: block;
  height: 100%;
  color: #ffffff;
}

.menu-section a:active {
  opacity: 50%;
}

.lists {
  list-style: none;
}

.list {
  padding-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;

  color: #ffffff;
}

.lists h3 {
  padding-bottom: 15px;
}

.lists img {
  position: absolute;
  right: -20px;
}

.yellow {
  background-color: #ffbf47;
}

.blue {
  background-color: #3bbce3;
}

.pink {
  margin-bottom: 20px;

  background-color: #dc91d8;
}

.green {
  margin-bottom: 20px;

  background-color: #8ed78f;
}

.yellow-back {
  background-color: #ffc047;
}

.popular {
  background-color: #f2f6f8;
}

.headline {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;

  padding-left: 20px;
}

.popular .button {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: 25px;
}

.items {
  list-style: none;
}

.item-background {
  width: 216px;
  font-family: "PTSans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;

  background-color: #ffffff;
  border: solid 1px #eaeaea;
}

.items h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.item-name,
.item-name-new {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #9a9a9a;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-image: url("../img/price.svg");
  background-size: 141px 38px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.brands {
  list-style: none;
}

.brand-background {
  width: 216px;
  height: 145px;
  border: solid 1px #eaeaea;
}

.brand-background:hover {
  background-color: #ffffff;
  box-shadow: 0px 10px 25px 0 #b4c2dd;
}

.brand-background:active {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0 #b4c2dd;
  opacity: 0.3;
}

.service-back {
  background-color: #f4f7f9;
}

.caption {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.good-store {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.item-service {
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;

  list-style: none;
}

.active-service {
  color: #32425c;

  background-color: #ffffff;
}

.service {
  color: #ffffff;

  background-color: #32425c;
}

.options {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #000000;
}

.indicator {
  background-color: #ee3341;
}

.footer-nav-back {
  background-color: #32425c;
}

.footer-logo {
  width: 220px;
  height: 68px;
}

.footer-address {
  padding-top: 10px;

  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.footer-nav,
.footer-offers {
  list-style: none;
}

.footer-nav,
.footer-offers {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.footer-nav a {
  color: #f1f5f7;
}

.footer-offers a {
  color: #ffd180;
}

.footer-nav a:hover,
.footer-offers a:hover {
  text-decoration: underline;
}

.footer-nav a:active,
.footer-offers a:active {
  text-decoration: none;
  opacity: 50%;
}

.footer-contacts {
  padding-top: 20px;

  background-color: #293449;
}

.copy,
.mailhtmlacademyru,
.htmlacademyru {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.mailhtmlacademyru a,
.htmlacademyru a {
  color: #ffd180;
}

.mailhtmlacademyru a:hover,
.htmlacademyru a:hover {
  text-decoration: underline;
}

.mailhtmlacademyru a:active,
.htmlacademyru a:active {
  text-decoration: none;

  color: #ee3643;
}

.vk-icon,
.fb-icon,
.insta-icon {
  background-color: #212a3a;
}

.vk-icon:hover,
.vk-icon:active,
.fb-icon:hover,
.fb-icon:active,
.insta-icon:hover,
.insta-icon:active {
  background-color: #ee3643;
}

.modal {
  font-size: 18px;
  line-height: 18px;
  text-align: left;

  background-color: #ffffff;
  border-top: solid 7px #ee3341;
}

.modal-back {
  background-color: #f1f1f1;
}

.modal h2 {
  font:inherit;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.login-form input[type="text"],
.message-form input[type="text"],
.message-form input[type="email"] {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  
  background-color: ffffff;
}

.login-form input[type="text"] {
  color: #999999;

  border: solid 2px #b5b5b5;
}

.login-form input[type="text"]:focus {

  border: solid 2px #ee3643;
}

.message-form input[type="text"],
.message-form input[type="email"] {
  color: #a9a9a9;

  border: solid 2px #dee3e4;
}

.login-form label,
.message-form label {
  font: inherit;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.white-button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.user-back p {
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation a {
  text-decoration: underline;
  color: #32425c;
}

.user-navigation a:hover {
  text-decoration: underline;
  color: #ee3643;
}

.user-navigation a:active {
  text-decoration: underline;
  color: #cbcbcb;
}

.user-back p:active {
  color: #cbcbcb;
}

.user-navigation a:first-child::after {
  padding-right: 20px;
}

.user-navigation a:first-child::after {
  content: " ";
}

.buy-button,
.bookmark-button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.buy-button {
  color: #ffffff;

  background-color: #63a63e;
}

.buy-button:hover {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.button-wrapper .bookmark-button {
  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.bookmark-button:hover {
  border: solid 3px #32425c;
}

.bookmark-button:active {
  border: solid 3px #32425c;
  opacity: 0.3;
}

.price-filter,
.sort-back {
  background-color: #f7f3ec;
}

.price-filter h3,
.filter legend {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
 
}

.filter label {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.view {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.sorting,
.icon-dir {
  list-style: none;
}

.container {
  width: 940px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.top-background .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 42px;
}

.logo {
  position: relative;

  width: 220px;
  height: 42px;
  box-shadow: 0px 5px 0 0 #B6242F;
}

.logo a {
  position: absolute;
  padding-top: 10px;
  padding-left: 55px;
}

.bookmark,
.cart,
.cart-full {
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;

  width: 110px;
}

.bookmark {
  background-image: url("../img/icon-bookmark.png");
  background-position: 10% 50%;
  background-repeat: no-repeat;
}

.bookmark a,
.cart a {
  color: #ffffff;
}

.search {
  background-image: url("../img/icon-search.png");
  background-position: 5% 50%;
  background-repeat: no-repeat;

  padding-left: 40px;
}

.cart,
.cart-full {
  background-image: url("../img/cart-icon.png");
  background-position: 10% 50%;
  background-repeat: no-repeat;
}

.store-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 50px;
  padding-bottom: 20px;
}

.log-in {
  position: relative;

  height: 35px;

  padding-left: 40px;
  padding-top: 10px;
  padding-right: 25px;
}

.register {
  width: 100px;
  height: 35px;

  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
}

.login-back-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 300px;
}

.order-button {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 20px;
}

.menu-back {
  box-shadow: 0px 5px 0 0 #293449;

  margin-top: 20px;
  margin-bottom: 20px;
}

.container .menu-section {
  display: flex;
  justify-content: space-between;
}

.container .store-discreption {
  margin-left: 50px;
  
  width: 195px;
  height: 60px;
}

.phone-number {
  width: 250px;

  text-align: center;

  background-image: url("../img/icon-phone.png");
  background-position: 5% 50%;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.phone-back-wrapper {
  display: flex;
  flex-direction: column;
}

.slider p {
  margin: 0;
}

.container .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
}

.container .brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 20px;
  padding-bottom: 40px;
}

.container .popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-background {
  background-position: 50% 50%;
  background-repeat: no-repeat;

  margin-bottom: 20px;
}

.bosch {
  background-image: url("../img/bosch.png");
}

.makita {
  background-image: url("../img/makita.png");
}

.de-walt {
  background-image: url("../img/de-walt.png");
}

.interskol {
  background-image: url("../img/interskol.png");
}

.hitachi {
  background-image: url("../img/hitachi.png");
}

.lg {
  background-image: url("../img/lg.png");
}

.aeg {
  background-image: url("../img/aeg.png");
}

.metabo {
  background-image: url("../img/metabo.png");
}

.item-background .new {
  position: absolute;
}

.new-flag {
  position: relative;
  right: -77px;
  top: 0px;
}

.items .item-name-new {
  margin-top: 112px;
}

.old-price,
.price {
  padding-top: 10px;
  padding-bottom: 10px;
}

.price {
  margin-bottom: 20px;
}

.items li:nth-child(3n) .price {
  margin-top: 40px;
}

.service-back .container {
  padding-top: 40px;
}

.good-store {
  white-space: pre-line;

}

.service-item .good-store {
  margin-left: 80px;
}

.service-item {
  display: flex;
  flex-direction: row;
  
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-size: 438px 261px;
  background-position: 100% 95%;
}

.service-item .item-service {
  margin-top: 74px;
  padding-bottom: 100px;
}

.active-service,
.service {
  padding-top: 20px;
  padding-right: 140px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.active-service {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.service {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.shadow {
  margin-top: 28px;
}

.service-item .headline {
  margin-left: 60px;
  margin-top: 75px;
  padding-left: 20px;
}

.container .about-company {
  display: flex;
  flex-direction: column;
}

.about-company h2,
.contacts h2 {
  margin: 0;
}

.delivery-var {
  padding-bottom: 25px;
}

.delivery-var .good-store {
  padding-bottom: 10px;
}

.delivery-var p:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-company .button {
  width: 220px;
}

.contacts .good-store {
  padding-right: 80px;
  padding-bottom: 30px;
}

.contacts a {
  padding-bottom: 30px;
}

.container .contacts {
  display: flex;
  flex-direction: column;
  padding-left: 110px;
}

.company .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-top: 20px;
}

.footer-offers-wrapper {
  padding-top: 40px;
  padding-left: 25px;
}

.footer-nav-wrapper .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-offers-wrapper .footer-offers {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.footer-logo {
  width: 220px;
  height: 68px;
}

.footer-logo a {
  padding-left: 40px;
  padding-top: 20px;
}

.container .footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-nav-back .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 30px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;

  padding-top: 40px;
}

.footer-nav li:not(:first-child):not(:last-child),
.footer-offers li:not(:first-child):not(:last-child) {
  padding-right: 30px;
  padding-left: 30px;
}

.footer-nav li:first-child,
.footer-offers li:first-child {
  padding-right: 30px;
}

.footer-nav li:last-child,
.footer-offers li:last-child {
  padding-left: 30px;
}

.footer-contacts .сontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copy,
.htmlacademyru,
.mailhtmlacademyru,
.footer-address {
  white-space: pre-line;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.vk-icon,
.fb-icon,
.insta-icon {
  width: 42px;
  height: 42px;

  background-position: center;
  background-repeat: no-repeat;

  margin-right: 5px;
  border-radius: 50px;
}

.vk-icon {
  background-image: url("../img/vk-icon.svg");
}

.fb-icon {
  background-image: url("../img/fb-icon.svg");
}

.insta-icon {
  background-image: url("../img/insta-icon.svg");
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
}

.service-back .container {
  padding-top: 40px;
  padding-bottom: 70px;
}

.service-back h2 {
  margin: 0;
  padding-top: 20px;
}

.service-back p {
  margin: 0;
}

.pagination {
  margin-left: 580px;
  margin-bottom: 60px;
}

.pagination li a {
  color: #000000;
}

.pagination li {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}

.pagination li:hover {
  border: 1px solid #bdc6ca;
}

.pagination li:active {
  border: 1px solid #ee3643;
}

.pagination .active {
  background-color: #ee3643;
  color: #fff;
}

.pagination li:last-child {
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
}

.cart-full {
  background-color: #ee3643;
}

.cart-full a {
  color: #ffffff;
}

.dot {
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 3px;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: left;

  padding-top: 5px;
  padding-left: 20px;
}

.user-back {
  position: relative;

  width: 300px;
  height: 45px;
}

.user-back p {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 45px;
  padding-right: 60px;
}

.user-name {
  background-image: url("../img/icon-user.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

.user-name:hover {
  background-image: url("../img/icon-user.svg");
}

.icon-logout img {
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: 0.3;
}

.icon-logout img:hover {
  opacity: 100;
}

.my-orders {
  padding-right: 15px;
}

.my-orders

.account {
  padding-left: 15px;
}

.container .breadcrambs {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: left;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrambs a {
  color: #000000;
}



.wrap {
  margin-top: 20px;

  width: 620px;
  height: 265px;
  
  position: relative;
  
  background-color: #32425c;
 }

.slider {
  position: relative;
  
  height: 100%;

  text-align: left;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  height: 100%;
  
  list-style: none;
}

.slider-item {
  height: 100%;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slider-image1.jpg);
}

.slider-item:nth-child(2) {
  display: none;
  background-image: url(../img/slide-image2.jpg);
}

.slide-title {
  margin: 0;
  margin-left: 25px;

  padding-top: 25px;
  padding-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-item p {
  padding-left: 25px;

  font-size: 18px;
  line-height: 24px;
}

.slide-button {
  display: inline-block;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 25px;
  margin-top: 100px;

  cursor: pointer;
}

.slide-button:hover {
  background-color: #ca2c37 ;
}

.slide-button:active {
  background-color: #ba2732 ;
}

.slider-controls {
  position: absolute;
  bottom: 50%;

  z-index: 20;

  height: 44px;
}

.icon-right,
.icon-left {
  height: 100%;
}

.icon-right {
  padding-top: 25px;
  padding-left: 490px;
}

.icon-left span,
.icon-right span {
  opacity: 0;
}

.slider-controls .icon-left {
  display: inline-block;

  padding-left: 20px;

  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
}

.slider-controls .icon-right {
  display: inline-block;

  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  cursor: pointer;
}

#product-1:checked ~ .wrap #slide1,
#product-2:checked ~ .wrap #slide2 {
  display: block;
}

#product-1:checked ~ .wrap {
  background-color: #849d8f;
  background-image: url("../img/slider-image1.jpg");
}

#product-2:checked ~ .wrap {
  background-color: #8996a6;
  background-image: url("img/slider-image2.jpg");
}

.feauteres-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
}

.yellow-wrapper {
  display: flex;
  justify-content: space-between;
}

.yellow {
  position: relative;
  width: 50%;
}

.list h3 {
  padding-top: 15px;
  padding-left: 25px;
  margin: 0;
}

.list a {
  display: block;

  margin-left: 25px;
  padding-left: 20px;
  padding-right: 20px;

  width: 95px;

  background-color: #000000;
  opacity: 0.1;
}

.list a:hover {
  opacity: 0.2;
}

.list a:active {
  opacity: 0.3;
}

.list .new-flag {
  position: absolute;
  left: 240px;
  right: -76px;
  top: 0px;
}

.blue,
.pink,
.green,
.yellow-back {
  position: relative;
}

.blue {
  width: 50%;
  margin-left: 20px;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5 {
  position: absolute;
  right: 15%;
  top: 30%;
}

.lists-wrapper2 {
  width: 100%;
  margin-left: 20px;
}

.filter-wrapper1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.filter-back {
  padding-top: 10px;
  padding-right: 140px;
  padding-bottom: 10px;
  padding-left: 20px;

  background-color: #f7f3ec;
}

.price-filter .range {
  padding-right: 50px;
}

.filter-wrapper1 h3 {
  margin: 0;
}

.sort-back {
  display: flex;
  padding-top: 10px;
}

.sort-back h3 {
  padding-left: 20px;
  padding-right: 135px;
}

.sorting,
.icon-dir {
  display: flex;
}

/*.sorting li:first-child a {
  color: #ee3643;
}*/

.sorting li a {
  color: #cbcbcb;
  border-bottom: 1px dotted #ee3643;
}

.sorting li a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting li a:active {
  color: #ee3643;
  border: none;
}

.sorting li:first-child {
  padding-right: 65px;
}

.sorting li:last-child {
  padding-right: 45px;
  padding-left: 60px;
}

.icon-dir li {
  padding-right: 20px;
  cursor: pointer;
}

.product-filter {
  display: flex;
}

.filter ul {
  list-style: none;
}

.item-back:nth-child(3n) {
  page-break-after: always;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-wrapper2 .price-filter {
  border-bottom: 1px solid #f7f3ec;
}

.price-filter h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #ffffff;
}

.filter legend {
  padding-top: 15px;
  padding-bottom: 10px;
}

.filter .fieldset ul {
  padding-bottom: 20px;
}

fieldset li {
  width: max-content;
  padding-bottom: 20px;
  padding-left: 30px;
}

fieldset:nth-child(2) {
  padding-top: 15px;
  padding-bottom: 10px;
}

fieldset:nth-child(2) ul {
  margin-bottom: 60px;
}

.view {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;

  text-transform: uppercase;
}

.sort-wrapper ul {
  flex-wrap: wrap;
}

.filter legend:nth-child(1) {
  padding-right: 75px;
}

.filter .fieldset legend:nth-child(2) {
  padding-right: 130px;
}

.sort-wrapper {
  margin-left: 20px;
}

.sort-wrapper li {
  margin-bottom: 20px;
}

.filter .filter-checkbox {
  padding-bottom: 10px;

  border-bottom: 1px solid #f7f3ec;
}

.filter-checkbox input {
  display: none;
}

.filter-checkbox li {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-checkbox li:nth-child(1),
.filter-checkbox li:nth-child(3) {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-radio input {
  display: none;
}

.filter-radio li:first-child {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

.filter-radio li:last-child {
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.range1 {
  height: 80px;

  background-color: #f7f3ec;
}

.item-back-hover {
  position: absolute;
  top: 0px;
  width: 100%;

  background-color: #ffffff;
  box-shadow: 0px 10px 25px 0 #b4c2dd;

  text-align: center;
}

.item-back-hover .new-flag {
  position: absolute;
  left: 155px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  
  padding-top: 45px;
  margin-left: 40px;

  width: 135px;

  font-family: "Cuprum", Arial, sans-serif;
}

.item-back-hover .buy-button {
  padding-top: 15px;
  padding-right: 45px;
  padding-left: 45px;

  box-shadow: inset 0px -3px 0 0 #367315;
  cursor: pointer;
}

.item-back-hover .bookmark-button {
  margin-top: 7px;
  margin-bottom: 35px;
  cursor: pointer;
}

.item-back-hover h3 {
  width: 155px;
  padding-left: 30px;
}

.item-back-hover .price {
  margin-top: 0;
  margin-bottom: 25px;
}

.item-background:nth-child(3n+3) .item-back-hover .price {
  margin-top: 37px;
  margin-bottom: 22px;
  text-align: center;
}

.items li {
  position: relative;
}

.item-back-hover {
  opacity: 0;
}

.items li:hover .item-back-hover {
  opacity: 1;
}

.buy {
  position: relative;

  margin-top: 15px;
  margin-bottom: 7px;
}

.buy img {
  position: absolute;
  left: 12px;

  opacity: 0.3;
}

.buy img:hover {
  opacity: 1;
}

.icon-up,
.icon-down {
  opacity: 0.3;
}

.icon-up:hover,
.icon-down:hover {
  opacity: 1;
}
